.navbar {
  /* background: #222; */
  background: rgb(108, 224, 211);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--navFontTurncoat);
}

img {
  margin: 1rem 2rem 0.8rem 3rem;
}

.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navbar .link {
  font-size: 3.4rem;
  font-weight: bold;
  color: white;
}

.link {
  text-decoration: none;
}
