.navbar {
  background: #222;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img {
  margin: 1rem 2rem 0.8rem 3rem;
}

.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

li {
  font-size: 2.2rem;
  color: white;
}

.link {
  text-decoration: none;
}
