.sign-up-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40vw;
  text-align: center;
  margin: 10% auto;
  min-height: 200px;
  background-color: rgba(77, 75, 75, 0.1);
  align-items: center;
  padding: 2rem 0;
  border-radius: 25px;
}

.input {
  width: 50rem;
  height: 4rem;
  font-size: 2rem;
  color: lightgray;
  padding-left: 1rem;
  border: solid 1px#4766e7;
  border-radius: 5px;
}

label {
  font-size: 2.4rem;
  text-align: left;
  margin-top: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  width: 50rem;
  height: 4rem;
  font-size: 2.4rem;
  margin-top: 4rem;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: rgba(71, 102, 231, 0.2);
}
